:root {
  --main-color: #62929E;
  --secondary-color: #393D40;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-image: linear-gradient(to left, rgba(98, 146, 158, 95%), rgba(27, 40, 43, 35.55%));
  background-size: cover;
  background-position: center;
  height: 80vh;
  margin: auto;
  padding: 1rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: start;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.font {
  font-family: "Open Sans", sans-serif;
}

.phone1 {
  width: 25%;
  top: 3%;
  right: 29%;
  z-index: 99;
}

.phone2 {
  width: 26%;
  top: 3%;
  right: 8%;
}

.two {
  left: 50%;
  top: 0;
}

.counter {
  width: 29%;
  height: 39%;
  padding: 3px;
  left: 6%;
  top: 74%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--secondary-color);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.Deskshare {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  color: var(--secondary-color);
  font-size: 15px;
  text-transform: uppercase;
}

.secondColor {
  color: var(--secondary-color);
}

.bgsecond {
  background-color: var(--secondary-color);
}

.bgMain {
  background-color: var(--main-color);
}

.smallText {
  font-size: 13px;
}

.btn {
  box-shadow: none;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.fontSize {
  font-size: 3rem;
}

.three {
  background-color: var(--main-color);
}

.threeH4 {
  color: #A3B18A;
  font-size: small;
  text-transform: uppercase;
}

.lightColor {
  color: #A3B18A;
}

.white50 {
  color: #ffffffc0
}

.brder {
  border-bottom: 1px solid #DADADA;
}

.coWork {
  background-color: var(--main-color);
}

.item {
  color: var(--secondary-color);
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}

.item:hover {
  background-color: var(--main-color);
  color: #DADADA;
}



@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header {
    height: 60vh;
  }

  .counter {
    width: 33%;
    height: 42%;
    padding: 3px;
    left: 5%;
    top: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--secondary-color);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

}

@media only screen and (max-width: 768px) {
  .header {
    height: 40vh;
  }

  .phone1 {
    width: 29% !important;
    top: 12% !important;
    right: 25% !important;
    z-index: 99;
  }

  .phone2 {
    width: 28% !important;
    top: 17% !important;
    right: 4% !important;
    
  }

  .headInfo {
    width: 90% !important;
    font-size: 0.5rem !important;
    padding: 10px !important;
  }

  .header button {
    margin: 0 !important;
  }

}
