/* :root {
  --main-color: #62929E;  
  --secondary-color: #393D40; 
}

.header{
  background-image:linear-gradient(to right, rgba(98, 146, 158,95%), rgba(27, 40, 43,35.55%)),
  url(../../about\ images/Header.png);
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.font {
  font-family: "Open Sans", sans-serif;
}
.header  p{
  color: rgba(255, 255, 255,75%);
  font-size: 15px;
  line-height: 29px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  margin-top: 20px;
  width: 75%;
}
.two{
  left: 50%;
  top: 0;
}
.counter{
  width: 29%;
  height: 39%;
  padding: 3px;
  left: 6%;
  top: 74%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--secondary-color);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.Deskshare{
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  color: var(--secondary-color);
  font-size: 15px ;
  text-transform: uppercase;
}
.mainColor{
  color: var(--secondary-color);
}
.bgMain{
  background-color: var(--secondary-color);
}
.smallText{
  font-size: 13px;
}
.btn{
  box-shadow: none;
  border: none;
  border-radius: 5px ;
  -webkit-border-radius: 5px ;
  -moz-border-radius: 5px ;
  -ms-border-radius: 5px ;
  -o-border-radius: 5px ;
}
.fontSize{
  font-size: 3rem;
}

.three{
  background-color:var(--main-color) ;
}
.threeH4 {
  color: #A3B18A;
  font-size: small;
  text-transform: uppercase;
}

.threep{
  color: #FDFDFF;
}

.brder{
  border-bottom: 1px solid #DADADA ;
}




@media only screen and (min-width: 768px) and (max-width: 991px) {
  .counter{
    width: 33%;
    height: 42%;
    padding: 3px;
    left: 5%;
    top: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--secondary-color);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

} */